.overlay-wrapper {
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 8px 12px;
}

.overlay-wrapper::after {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  border-top: 10px solid #fff;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 10px solid transparent;
  content: '';
}

.overlay-title {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: bold;
}
